<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="styleSheet.css">

</head>
<body>

<div class="grid-container">
    <header class="header">
        <h1><img class="headerIcon"  src="katfinalfinal.png">Ragdoll Klubben</h1></header>

    <nav class = "navbar">
        <ul>
            <li><a href="frontPage">Forside</a></li>
            <li><a href="members">Medlemmer</a></li>
            <li><a href="cats">Katte</a></li>
            <li><a href="aboutUs">Om os</a></li>
            <li><a href="account">Account</a></li>
        </ul>
    </nav>

    <main class="middle">Hej!

        <form action="editMember">
            <button type="submit">Rediger bruger</button>
        </form>

        <form action="/deleteMember">
            <button type="submit">Slet bruger</button>
        </form>


        <form action="/addPet">
            <button type="submit">Tilføj kat</button>
        </form>

        <form action="/editPet">
            <button type="submit">Rediger kat</button>
        </form>

        <form action="/deletePet">
            <button type="submit">Slet kat</button>
        </form>



    </main>





    <footer class="footer">
        <p>&copy; 2023 Ragdoll Klubben</p>
    </footer>
</div>



</body>
</html>


