<!DOCTYPE html>
<html
          xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ragdoll Klubben</title>

  <link rel="stylesheet" type="text/css" href="styleSheet.css">

</head>
<body>
<div class="grid-container">
  <header class="header">
    <h1><img class="headerIcon"  src="katfinalfinal.png">Ragdoll Klubben</h1></header>

  <nav class = "navbar">
    <ul>
      <li><a href="frontPage">Forside</a></li>
      <li><a href="members">Medlemmer</a></li>
      <li><a href="cats">Katte</a></li>
      <li><a href="aboutUs">Om os</a></li>
      <li><a href="account">Konto</a></li>
      <li><a href="login">login</a></li>
      <li><a href="signUp">Opretbruger</a></li>
    </ul>
  </nav>

  <main class="middle">Velkommen til Danmarks største forening inden for Ragdoll racekatte!
    <img class="mainIcon"  src="dogcatfinal.png">
    <!--
    <div sec:authorize="isAuthenticated()">
      This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('user')">
      This content is only shown to users.
    </div>-->
  </main>

  <footer class="footer">
    <p>&copy; 2023 Ragdoll Klubben</p>
  </footer>
</div>
</body>
</html>


