<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="styleSheet.css">


  <!--Bod elementet i hjemmesiden-->

</head>
<body id="grid-container">
<header class = "grid-item">
  <h1>Ragdoll Klubben </h1>
</header>


<nav class = "grid-item">
  <ul>
    <li><a href="forside.html">Forside</a></li>
    <li><a href="Howtorankup.html">How to rankup</a></li>
    <li><a href="login.html">Logind</a></li>
    <li><a href="howtonotbebadlikejustin.html">Profil</a></li>
  </ul>
</nav>

<main class = "grid-item">
  <p>This website can provide anything and everything you need to git gut and not be bad anymore.
    Want to finally not be hardstuck? Just pay a smoll fee of 1000$ you will be the best of the best.
  </p>

</main>




<footer class = "grid-item">
  <p>&copy; 2023 Totally legit Leauge Guides</p>
</footer>

</body>
</html>



